@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.info-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.label {
  width: 100px;  /* ← ここで幅を固定 */
}

.arrow {
  width: 20px;
  text-align: center;
}

.aside-content {
  flex: 1;
}
